



* {box-sizing: border-box; 
  background-color: #1E1E1E; 
  font-family: 'Roboto', sans-serif;}

.header {
  padding: 8px;
  text-align: center;
  background: #161616;
  color: white;
}
#top h1{
  background-color: #161616; 
  font-size: 1.5em; 
}

#button{
  line-height: 40px;
  width: 150px;
  font-size: 1.4rem;
  font-family: tahoma;
  background-color:#161616; 
  border-style: none; 
  outline-style:solid; 
  outline-width:1px; 
  outline-color:black;
  position:absolute;
  top:0;
  right:0;
}

#button:hover{
  background-color: #1E1E1E;
  color: white; 
}

#button a{
  background-color:#161616;
  color:#A5A5A5;
  text-decoration:none; 
}

#button a:hover{
  background-color: #1E1E1E;
  color: white; 
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

#content {
  color: white;
  padding: 30px 300px;
}

#content h1{
  text-align:center; 
}

