html{
    &#font_size_0{
          font-size: 100% !important;
      }
      &#font_size_1{
          font-size: 120% !important;
      }
      &#font_size_2{
          font-size: 150% !important;
      }
  }